.task-form__item {
  margin-bottom: 15px;
}

.task-form__item:last-child {
  margin-bottom: 0;
}

.task {
  border: 1px solid var(--light-blue);
  padding: 15px;
}

.task__header {
  display: flex;
}

.task__delete {
  margin-left: auto;
}
