*,
*::before,
*::after {
  box-sizing: border-box;
}

:root {
  --main-blue: #4456b1;
  --light-blue: #7b8ff7;
  --dark-blue: #1e2b6c;
  --disabled-blue: #a4aac7;

  font-family: "Montserrat", "Helvetica", sans-serif;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

body {
}
